/wp-content/themes/idrova/node_modules
/wp-content/themes/idrova/dist
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/uploads/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-content/themes/twenty*/
*.log
/.htaccess
/wp-content/plugins