@mixin font-family($font) {
    font-family: $font, Arial, Helvetica, sans-serif;
}

@mixin opacity-hover() {
    transition: opacity .3s ease-out;

    &:hover {
        opacity: 0.6;
    }

    &:active {
        opacity: 0.3;
    }
}